@font-face {
    font-family: 'Robert Sans';
    src: url('Roobert/RobertSans-Bold.woff2') format('woff2'),
        url('Roobert/RobertSans-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Robert Sans';
    src: url('Roobert/RobertSans-BlackItalic.woff2') format('woff2'),
        url('Roobert/RobertSans-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Robert Sans';
    src: url('Roobert/RobertSans-Black.woff2') format('woff2'),
        url('Roobert/RobertSans-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Robert Sans';
    src: url('Roobert/RobertSans-ExtraLightItalic.woff2') format('woff2'),
        url('Roobert/RobertSans-ExtraLightItalic.woff') format('woff');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Robert Sans';
    src: url('Roobert/RobertSans-BoldItalic.woff2') format('woff2'),
        url('Roobert/RobertSans-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Robert Sans';
    src: url('Roobert/RobertSans-ExtraLight.woff2') format('woff2'),
        url('Roobert/RobertSans-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Robert Sans';
    src: url('Roobert/RobertSans-ExtraBoldItalic.woff2') format('woff2'),
        url('Roobert/RobertSans-ExtraBoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Robert Sans';
    src: url('Roobert/RobertSans-ExtraBold.woff2') format('woff2'),
        url('Roobert/RobertSans-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Robert Sans';
    src: url('Roobert/RobertSans-Italic.woff2') format('woff2'),
        url('Roobert/RobertSans-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Robert Sans';
    src: url('Roobert/RobertSans-LightItalic.woff2') format('woff2'),
        url('Roobert/RobertSans-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Robert Sans';
    src: url('Roobert/RobertSans-Medium.woff2') format('woff2'),
        url('Roobert/RobertSans-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Robert Sans';
    src: url('Roobert/RobertSans-Light.woff2') format('woff2'),
        url('Roobert/RobertSans-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Robert Sans';
    src: url('Roobert/RobertSans-SemiBold.woff2') format('woff2'),
        url('Roobert/RobertSans-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Robert Sans';
    src: url('Roobert/RobertSans-ThinItalic.woff2') format('woff2'),
        url('Roobert/RobertSans-ThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Robert Sans';
    src: url('Roobert/RobertSans-SemiBoldItalic.woff2') format('woff2'),
        url('Roobert/RobertSans-SemiBoldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Robert Sans';
    src: url('Roobert/RobertSans-MediumItalic.woff2') format('woff2'),
        url('Roobert/RobertSans-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Robert Sans';
    src: url('Roobert/RobertSans-Thin.woff2') format('woff2'),
        url('Roobert/RobertSans-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Robert Sans';
    src: url('Roobert/RobertSans.woff2') format('woff2'),
        url('Roobert/RobertSans.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

