.about {
    padding-top: 100px;
    background: #f2ede6;
}

.about__heading {
    font-weight: 600;
    font-size: 5rem;
    line-height: 1.08;
    text-align: center;
    color: #2d2d2d;
}

.about__wrapper {
    margin-top: 70px;
    display: flex;
}

.about__content {
    margin-right: 100px;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    width: 43%;
    flex-shrink: 0;
}

.about__title {
    font-weight: 600;
    font-size: 5rem;
    line-height: 1.08;
    color: #2d2d2d;
}

.about__desc {
    margin-top: 20px;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.62;
    color: #676562;
}

.about__btn {
    margin-top: 40px;
    border: transparent;
    outline: transparent;
}

.about__media {
    position: relative;
}

.about__img {
    width: 100%;
}

.about__img--big {
    display: block;
}

.about__img--small {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 279px;
    height: 237px;
    border-top: 12px solid #fff;
    border-right: 14px solid #fff;
}

.member {
    padding-top: 150px;
    background: #f2ede6;
}

.member__heading {
    font-weight: 600;
    font-size: 5rem;
    line-height: 1.08;
    text-align: center;
    color: #2d2d2d;
}

.member__list {
    margin-top: 70px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 54px;
}

.member__item {
    padding: 13px;
    background: #fff;
    box-shadow: 0px 44px 74px rgba(0, 0, 0, 0.04);
    border-radius: 20px;
    text-align: center;
}

.member__item-heading {
    margin-top: 14px;
    font-weight: 500;
    font-size: 2.8rem;
    line-height: 1.21;
    color: #2d2d2d;
}

.member__item-desc {
    margin-top: 8px;
    margin-bottom: 33px;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 1.12;
    color: #676562;
}

.member__item-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 12px;
}

.member__item-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
    border: 1px solid #018294;
    border-radius: 50%;
}

.member__item-img {
    width: 100%;
}
