/* ==================== Contact ==================== */
.contact {
    padding: 70px 0 150px;
    text-align: center;
    background: #f2ede6;
}

.contact__heading {
    font-weight: 600;
    font-size: 5rem;
    line-height: 1.08;
    color: var(--text-color);
}

.contact__desc {
    margin: 20px auto 0 auto;
    width: 436px;
    font-size: 1.6rem;
    line-height: 1.62;
    color: #676562;
}

.contact__form {
    margin-top: 50px;
}

.contact__form-group {
    display: flex;
    justify-content: center;
    column-gap: 30px;
}

.contact__form-group + .contact__form-group {
    margin-top: 24px;
}

.contact__form-textarea,
.contact__form-input {
    padding: 22px 31px;
    background: #ffffff;
    outline: transparent;
    border: transparent;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.2;
    color: #676562;
}

.contact__form-input {
    min-width: 430px;
    height: 60px;
}

.contact__form-textarea {
    resize: none;
    width: 890px;
    height: 150px;
    max-height: 300px;
    cursor: auto;
}

.contact__form-textarea::-webkit-scrollbar {
    width: 6px;
}

.contact__form-textarea::-webkit-scrollbar-thumb {
    background-color: var(--text-color);
    border-radius: 99px;
}

.contact__form-submit {
    --height: 62px;
    margin-top: 16px;
    min-width: 158px;
    height: var(--height);
    outline: transparent;
    border: transparent;
    background: #018294;
    font-weight: 500;
    font-size: 1.9rem;
    line-height: var(--height);
    color: #ffffff;
}

.contact__form-submit:hover {
    opacity: 0.9;
    cursor: pointer;
}